<form action="register" method="post">
<label>Name :</label><input type="text" name="name"/>
<label>Email : </label><input type="text" name="email"/>
<label>Password : </label><input type="password" name="password"/>
<input type="submit" value="SignUp">
</form>